Logical_1_AND
[
    {
        "id": "5566b331.f7137c",
        "type": "tab",
        "label": "Logical_1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e94564b.44d468",
        "type": "ui_switch",
        "z": "5566b331.f7137c",
        "name": "X1",
        "label": "X1",
        "group": "7ab8c30f.96fcbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "tx1",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "8c4af290.bcb7e8"
            ]
        ]
    },
    {
        "id": "d60b7eb9.0ac57",
        "type": "ui_switch",
        "z": "5566b331.f7137c",
        "name": "X2",
        "label": "X2",
        "group": "7ab8c30f.96fcbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "tx2",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "31abf453.4653c4"
            ]
        ]
    },
    {
        "id": "667341c3.4e40d8",
        "type": "ui_switch",
        "z": "5566b331.f7137c",
        "name": "",
        "label": "Y",
        "group": "7ab8c30f.96fcbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "77a17e83.086d",
        "type": "debug",
        "z": "5566b331.f7137c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ad4a387.88a174",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "",
        "func": "var X1;\nif (X1 === true)\n{\nmsg.payload === true;\n}\nif (X1 === false)\n{\nmsg.payload === false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "98ecfda.16d888"
            ]
        ]
    },
    {
        "id": "98ecfda.16d888",
        "type": "ui_switch",
        "z": "5566b331.f7137c",
        "name": "",
        "label": "Y1",
        "group": "7ab8c30f.96fcbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a046a69d.9e38e",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "AND gate",
        "func": "var X1;\nvar X2;\nvar value= flow.get([X1, X2]); \n//var value = flow.set([\"Y\"]);\nif (X1 === true)\n{\n    if (X2 === false)\n    {\n    //flow.set([\"Y\"], [true])\n    msg.payload === false;\n    }\n    else\n    {\n        //flow.set([\"Y\"], [false])\n        msg.payload === true;\n    }\n} /*else\n{\n    //flow.set([\"Y\"], [false])\n    msg.payload === false;\n    \n}*/\n//Y = msg.payload.value;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8c4af290.bcb7e8",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "f_readwrite",
        "func": "var X1 = false;\nif (X1 === true)\n{\nmsg.payload === true;\n}\nif (X1 === false)\n{\nmsg.payload === false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "a4967c0c.46f3e"
            ]
        ]
    },
    {
        "id": "31abf453.4653c4",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "f_readwrite",
        "func": "var X2 = false;\nif (X2 === true)\n{\nmsg.payload === true;\n}\nif (X2 === false)\n{\nmsg.payload === false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "a4967c0c.46f3e"
            ]
        ]
    },
    {
        "id": "a4967c0c.46f3e",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "AND gate",
        "func": "var x1 = context.get('x1') || 0; // initialize variables\nvar x2 = context.get('x2') || 0;\nvar Y;\n\nif (msg.topic == \"tx1\")\n{\n    x1 = {payload: msg.payload};\n    context.set(\"x1\", x1);  // save last value in local context\n}\n\nif (msg.topic == \"tx2\")\n{\n    x2 = {payload: msg.payload};\n    context.set(\"x2\", x2);  \n}\n\nif ((x1.payload && x2.payload) === true) // check last value of meshstatus first\n{\n    \n    return {topic:'value', payload: true};\n}\nelse\n    return {topic:'value', payload: false};\n/*\nif (msg.tx1 === true)\n{\n    if (msg.tx2 === true)\n    {\n        Y === true;\n    }\n    else \n    Y === false;\n}\nelse Y === false;*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "1ccd33af.072a54"
            ]
        ]
    },
    {
        "id": "1ccd33af.072a54",
        "type": "function",
        "z": "5566b331.f7137c",
        "name": "f_readwrite",
        "func": "var X1;\nif (X1 === true)\n{\nmsg.payload === true;\n}\nif (X1 === false)\n{\nmsg.payload === false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "77a17e83.086d",
                "667341c3.4e40d8"
            ]
        ]
    },
    {
        "id": "7ab8c30f.96fcbc",
        "type": "ui_group",
        "z": "",
        "name": "Log_1",
        "tab": "e267d9f6.603398",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e267d9f6.603398",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    }
]
