PLC_Communication_1
[
    {
        "id": "fe383ca8.15a51",
        "type": "tab",
        "label": "PLC_Communication_1",
        "disabled": false,
        "info": "This is my first try for a communication with TIA Portal PLC\nEthernet TCP/IP as interface"
    },
    {
        "id": "6c24de13.56eed8",
        "type": "debug",
        "z": "fe383ca8.15a51",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "e5b7e579.983c38",
        "type": "s7comm write",
        "z": "fe383ca8.15a51",
        "connection": "5c3b079c.4aa26",
        "payload": "{\"S7_Type\":\"I\",\"S7_DBnum\":\"0\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"writePLC\"}",
        "s7Name": "writePLC",
        "topic": "",
        "name": "",
        "signalSetted": false,
        "x": 480,
        "y": 360,
        "wires": [
            [
                "6c24de13.56eed8"
            ]
        ]
    },
    {
        "id": "e6505263.c67c08",
        "type": "function",
        "z": "fe383ca8.15a51",
        "name": "Function",
        "func": "msg.payload = {\"value\" : [true]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "e5b7e579.983c38"
            ]
        ]
    },
    {
        "id": "53a1707b.a066f",
        "type": "inject",
        "z": "fe383ca8.15a51",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "e6505263.c67c08"
            ]
        ]
    },
    {
        "id": "d543b4d3.b9e9d",
        "type": "inject",
        "z": "fe383ca8.15a51",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "19800401.86fb7c"
            ]
        ]
    },
    {
        "id": "19800401.86fb7c",
        "type": "function",
        "z": "fe383ca8.15a51",
        "name": "Function",
        "func": "msg.payload = {\"value\" : [false]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "e5b7e579.983c38"
            ]
        ]
    },
    {
        "id": "30752dee.0061ca",
        "type": "ui_button",
        "z": "fe383ca8.15a51",
        "name": "",
        "group": "c86a275b.6eef18",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "True-Button",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "e6505263.c67c08"
            ]
        ]
    },
    {
        "id": "7c81f866.2ed6e",
        "type": "ui_button",
        "z": "fe383ca8.15a51",
        "name": "",
        "group": "c86a275b.6eef18",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "False-Button",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "19800401.86fb7c"
            ]
        ]
    },
    {
        "id": "b5820011.0d2cc",
        "type": "ui_switch",
        "z": "fe383ca8.15a51",
        "name": "",
        "label": "Q0.0",
        "group": "c86a275b.6eef18",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 670,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d6a82706.9dac08",
        "type": "s7comm read",
        "z": "fe383ca8.15a51",
        "connection": "5c3b079c.4aa26",
        "payload": "{\"S7_Type\":\"I\",\"S7_DBnum\":\"0\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"writePLC\"}",
        "s7Name": "writePLC",
        "topic": "",
        "name": "",
        "signalSetted": false,
        "none": "false",
        "repeat": "0.2",
        "once": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "af52dca4.ac9bb"
            ]
        ]
    },
    {
        "id": "d6b61052.8ccd1",
        "type": "function",
        "z": "fe383ca8.15a51",
        "name": "Function",
        "func": "var x = 0;\nfor(var i=0; i<msg.payload.value.length; i++) {\n    if(msg.payload.value[i] === true) {\n        x = x | 1<<[i+1];\n    }\n    \n}\n\n\nmsg.payload = x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 80,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "67c6405.f88924",
        "type": "ui_switch",
        "z": "fe383ca8.15a51",
        "name": "",
        "label": "Q0.1",
        "group": "c86a275b.6eef18",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5b8bbfd8.08db1",
        "type": "function",
        "z": "fe383ca8.15a51",
        "name": "Function",
        "func": "\n\nvar x = msg.payload.value[0].toString(2);\n\nmsg.payload = { \n    QB0 : {}\n    \n};\n\nfor(var i= 0; i<x.length; i++) {\n    if(x[i] === \"1\") {\n        msg.payload.QB0[x.length - i -1] = true;\n    }\n    else\n    {\n        msg.payload.QB0[x.length - i -1] = false;\n    }\n}\n\nflow.set(\"QB0\", msg.payload.QB0);\nreturn flow.get(\"QB0\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 80,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6733720e.a5ed9c",
        "type": "inject",
        "z": "fe383ca8.15a51",
        "name": "",
        "topic": "",
        "payload": "QB0[0]",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 370,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "33100759.9912d8",
        "type": "inject",
        "z": "fe383ca8.15a51",
        "name": "",
        "topic": "",
        "payload": "QB0[1]",
        "payloadType": "flow",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "67c6405.f88924"
            ]
        ]
    },
    {
        "id": "af52dca4.ac9bb",
        "type": "function",
        "z": "fe383ca8.15a51",
        "name": "Function",
        "func": "msg.payload = msg.payload.value[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b5820011.0d2cc"
            ]
        ]
    },
    {
        "id": "15b5eb87.1e533c",
        "type": "comment",
        "z": "fe383ca8.15a51",
        "name": "write data to PLC",
        "info": "",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "868dd6b3.66369",
        "type": "comment",
        "z": "fe383ca8.15a51",
        "name": "read data from PLC",
        "info": "",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "5c3b079c.4aa26",
        "type": "s7comm",
        "z": "fe383ca8.15a51",
        "ip": "192.168.33.3",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "payload": [
            {
                "S7_Type": "I",
                "S7_DBnum": "0",
                "S7_Datatype": "X",
                "S7_Offset": "0",
                "S7_BitOffset": "0",
                "S7_Quantity": "1",
                "S7_Name": "writePLC"
            },
            {
                "S7_Type": "Q",
                "S7_DBnum": "0",
                "S7_Datatype": "X",
                "S7_Offset": "0",
                "S7_BitOffset": "0",
                "S7_Quantity": "1",
                "S7_Name": "readPLC"
            }
        ]
    },
    {
        "id": "c86a275b.6eef18",
        "type": "ui_group",
        "z": "",
        "name": "PLC_Communication_1",
        "tab": "e267d9f6.603398",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e267d9f6.603398",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]
